@model sistematutor.Models.retroalimentacion_preguntas

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>retroalimentacion_preguntas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_ejercicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_ejercicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_temas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_temas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_retroalimentacion">Editar</a> |
    <a asp-action="Index">Regresar ala lista</a>
</div>
