@model IEnumerable<sistematutor.Models.resultados>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id_respuestas_correctas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_respuestas_incorrectas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_ejercicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_usuario)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_respuestas_correctas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_respuestas_incorrectas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_ejercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_resultados">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_resultados">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id_resultados">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
